version: "3.9"
services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
    env_file: .env
  redis:
    image: redis:6
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
  worker:
    build: .
    command: ["celery", "--workdir" , "src", "-A", "conf.celery_app", "worker"]
    env_file: .env
    depends_on:
      - redis
  scheduler:
    build: .
    command: ["celery", "--workdir" , "src", "-A", "conf.celery_app", "beat"]
    env_file: .env
    depends_on:
      - redis
volumes:
  db-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './mounts/pg'
