version: "3.9"
services:
  web:
    build: .
    image: project/web:current
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file: .env
    command: ["gunicorn", "conf.wsgi:application", "--bind", "0.0.0.0:8000"]
    networks:
      - project
  redis:
    image: redis:6
    networks:
      - project
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - project
  worker:
    image: project/web:current
    command: ["celery", "-A", "conf.celery_app", "worker", "--concurrency" ,"3"]
    env_file: .env
    depends_on:
      - redis
    networks:
      - project
  scheduler:
    image: project/web:current
    command: ["celery", "-A", "conf.celery_app", "beat", "--scheduler", "django_celery_beat.schedulers:DatabaseScheduler"]
    env_file: .env
    depends_on:
      - redis
    networks:
      - project
volumes:
  db-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './mounts/pg'
networks:
  project:
