{% extends 'core/base.html' %}

{% block content %}
  <div class="columns">
    <div class="column">
      <h2>Tasks</h2>
    </div>
    <div class="column">
      <a class="button" href="{% url 'core:run' %}">Run new task</a>
    </div>
  </div>

  <table class="table is-striped">
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Ran</th>
    </tr>
    {% for record in records %}
      <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.message }}</td>
        <td>{{ record.ran_on }}</td>
      </tr>
    {% endfor %}
  </table>

  {% include 'core/pagination.html' with page=records %}
{% endblock %}
